*{
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
    height: 180vh;
}


.container{
    background-color: #2c3130;
    width: 500px;
    color: #FFF;
    margin: auto;
    padding: 50px;
    border: red 3px solid;
    border-radius: 10px;
}


header{
    background-color: cyan;
    width: 100%;
    position: sticky;
    top: 0;
}
